.box-travel {
	box-shadow: 15px 18px 13px #777777;
	transition: 0.6s ease;
}
.box-img {
	width: 100%;
	max-height: 70%;
	object-fit: cover;
}

.box-travel:hover{
    transform: scale(1.15);
    transition: 0.6s ease;
}

.pointer {
    cursor: pointer;
}