a {
  text-decoration: none;
  color: inherit;
}

body::-webkit-scrollbar {
  display: none;
}

/* Custom wider container */
.container-wide {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-wide {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-wide {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-wide {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-wide {
    max-width: 1400px;
    /* Wider than Bootstrap's 1140px */
  }
}

@media (min-width: 1400px) {
  .container-wide {
    max-width: 1600px;
    /* Even wider */
  }
}

body {
  background-color: #fffff0;
}

header {
  background-color: #0F172A;
}